<!DOCTYPE html>
<html>
<head>
	<title>AQUILEX - your personal tour guide</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	 <link href="css/style.css" rel="stylesheet">
	 <link href="css/bootstrap.css" rel="stylesheet">

</head>
<body>

 <section class="masthead">
        <section class="navbar aquilex-nav">
        	<section class="navbar-inner dark-header">
        		<section class="container">
        		<a class="brand aquilex-logo" href="#"><img src="imgs/smallerlogo1.png" /></a>
        		<ul class="nav nav-right pull-right">
        			<li class="dropdown star">
        				<a href="#" class="dropdown-toggle " data-toggle="dropdown"><img src="imgs/og_star.png"/></a>
        				<ul class="dropdown-menu nav-tabs nav-stacked ">
							<li><a href="#">Full Sail University</a></i></li>
							<li><a href="#">University of Central Florida</a></li>
							<li><a href="#">Georgia Tech</a></li>
							<li><a href="#">University of Alabama</a></li>
        				</ul>
        			</li>
        			<li class="divider-vertical divider-down"></li>
        			<li class="dropdown cog">
        			    <a href="#" class="dropdown-toggle " data-toggle="dropdown"><img src="imgs/og_cog.png"/></a>
						<ul class="dropdown-menu nav-tabs nav-stacked">
							<li><a href="#">SWITCH USER</a></li>
							<li><a href="#">ACCOUNT SETTINGS</a></li>
						</ul>
        			</li>
        		</ul>
        		</section>
        	</section> <!-- close navbar-inner -->
        </section> <!-- close navbar -->
        
        <section class="accnt-settings">
        <ul class="nav nav-tabs nav-stacked">
              <li class=""><a href="#">CHANGE PASSWORD</a></li>
              <li><a href="#">DELETE ACCOUNT</a></li>
            </ul>
        </section>
        
        <section class="input-append aquilex-searchBar clearfix">
  <input class="span2 aquilex-span" id="appendedInputButton" placeholder="search for school..." type="text">
  <button class="btn" type="button"><i class="icon-search"></i></button>
</section>
 </section> <!-- close masthead -->
 
<!--  end of header -->